.feature__grid {
  display: flex;
  flex-direction: row;
  background: #ffffff;
  box-shadow: 0px -4px 16px rgba(0, 0, 0, 0.25);
  margin: 40px 0;
  padding: 40px;
  align-items: center;
}
.feature__image {
  width: 50%;
}
.feature__content {
  width: 50%;
}
.widget-popup-carat {
  /* display: block; */
  top: -200px;
  width: 0;
  height: 0;
  border-left: 1.875rem solid transparent;
  border-right: 1.875rem solid transparent;
  border-bottom: 1.875rem solid white;
  position: relative;
  /* left: 12.5%; */
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: left 0.3s cubic-bezier(0.35, 0, 0.5, 1);
  transition: left 0.3s cubic-bezier(0.35, 0, 0.5, 1);
}
